.item {
  /*@neat-span-columns 6;
  @neat-omega 2n;*/
  /*width: 30rem;*/
  /*min-width: 30rem;*/
  display: flex;
  flex-flow: row wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.portrait {
  width: 8rem;
  height: 10rem;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background-position: center;
  background-size: cover;
  /*border-radius: 0.25rem;*/
  margin-right: 2rem;
}

.details {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  padding: 1rem 0;
  min-width: 20rem;
}

.name {
  display: block;
  font-weight: bold;
}

.short {
  display: block;
  font-style: italic;
  padding-bottom: 1rem;
}

.tel {
  display: block;
  span {
    padding-right: 0.5rem;
  }
}

.email {
  display: block;
  span {
    padding-right: 0.5rem;
  }
}
