@import "../../css/site/_root.css";

.list {
  list-style-type: none;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -1rem;
  margin-right: -1rem;
}

.item {
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 0;
  padding: 0 1rem 1rem 1rem;

  &:empty {
    height: 0;
    padding-bottom: 0;
  };
}

.container {
  cursor: pointer;
  display: block;
  position: relative;

  width: 100%;
  height: 100%;

  .image {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .unavailable {
    background: color(#888 a(50%));
    transition: background 0.5s;
  }

  .available {
    box-shadow: 0px 0px 0.5rem 0.25rem var(--color-coating-available);
    transition: background 0.5s;
  }

  .recommended {
    box-shadow: 0px 0px 0.5rem 0.25rem var(--color-coating-recommended);
    transition: background 0.5s;
  }

  .title {
    display: table-cell;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    background: color(var(--color-link) a(90%));
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0;
  }

  &:hover {
    .title {
      background: color(var(--color-link-hover) a(90%));
    }

    .image {
      filter: none;
    }
  }
}

.selected {
  background: red;
}

@media screen and (width <= 65em) {
  .item {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (width <= 55em) {
  .item {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (width <= 50em) {
  .list {
    justify-content: space-around;
  }
}

@media print {
  .list {
    display: block;
  }
  .item {
    float: left;
    width: 10rem;
    height: 10rem;
  }
}
