@import "../../css/site/_root.css";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  background: black;

  a {
    color: white;
    &::hover {
      color: white;
    }
  }
}

.icon {
  font-size: 3rem;
  color: var(--color-secondary-lighter);
}

.title {
  color: var(--color-secondary-lighter);
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

.home {
  font-size: 1.5rem;
}

@media screen and (width <= 40em) {
  .icon {
    font-size: 2rem;
  }
  .title {
    font-size: 1rem;
  }
  .home {
    font-size: 1rem;
  }
}
