@import "normalize.css/normalize.css";
@import "./site/_arimo.css";
@import "./site/_root.css";
@import "./site/_base.css";
@import "./site/_typography.css";
@import "./site/_lists.css";
@import "./site/_tables.css";
@import "./site/_code.css";
@import "./site/_forms.css";

@import "./site/_header.css";
@import "./site/_banner.css";
@import "./site/_footer.css";
@import "./site/_breadcrumbs.css";
@import "./site/_outdated.css";

.headline {
  /**/
}

.subline {
  font-size: 1.5rem;
  margin-top: -1rem;
  color: var(--color-primary-darker);
}

#content {
  padding-top: 6rem;
  width: 100%;
}

.phenomic-BodyContainer img {
  display: block;
  width: 50%;
  margin: auto;
}

.anchor::before {
  content: "";
  display: block;
  height: 6rem;
  margin: -6rem 0 0;
}

@media screen and (width <= 50em) {
  .subline {
    font-size: 1.3rem;
  }

  #content {
    padding-top: 5rem;
  }

  .phenomic-BodyContainer img {
    width: 60%;
  }

  .anchor::before {
    height: 5rem;
    margin: -5rem 0 0;
  }
}

@media screen and (width <= 40em) {
  #content {
    padding-top: 4rem;
  }

  .phenomic-BodyContainer img {
    width: 75%;
  }

  .anchor::before {
    height: 4rem;
    margin: -4rem 0 0;
  }
}

@media print {
  @page  {
    size: auto;
    margin: 13mm;
  }

  body {
    margin: 0;
  }

  .subline {
    color: var(--color-font);
  }

  #content {
    padding-top: 0;
  }

  .carousel {
    .control-dots {
      display: none;
    }
  }
}
