@import "normalize.css/normalize.css";
@import "./site/_arimo.css";
@import "./site/_root.css";
@import "./site/_base.css";
@import "./site/_typography.css";
@import "./site/_lists.css";
@import "./site/_forms.css";

@import "./site/_header.css";
@import "./site/_banner.css";
@import "./site/_footer.css";
@import "./site/_breadcrumbs.css";
@import "./site/_outdated.css";

.headline {
  /**/
}

.subline {
  margin-top: -2rem;
  color: var(--color-primary-darker);
}

#content {
  padding-top: 6rem;
  width: 100%;
}

@media screen and (width <= 50em) {
  #content {
    padding-top: 5rem;
  }
}

@media screen and (width <= 40em) {
  #content {
    padding-top: 4rem;
  }
}

@media print {
  @page  {
    size: auto;
    margin: 13mm;
  }

  body {
    margin: 0;  /* the margin on the content before printing */
  }

  #content {
    padding-top: 0;
  }

  .carousel {
    .control-dots {
      display: none;
    }
  }
}
