.section {
  @neat-outer-container;
  padding: 1rem 1rem;
}

@media screen and (width <= 40em) {
  .section {
    overflow-x: scroll;

    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
