.banner {
  height: 8em;
  background: #fff url("/assets/img/stairs.jpg") no-repeat center;
  background-size: cover;
  /*width: 100%;*/

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 40em) {
  .banner {
    background-size: 150%;
  }
}
