#banner {
  height: 12em;
  background: #fff url("/assets/img/stairs.jpg") no-repeat center;
  background-size: cover;
}

@media screen and (width <= 50em) {
  #banner {
    height: 10em;
  }
}

@media screen and (width <= 40em) {
  #banner {
    height: 8em;
    background-size: 150%;
  }
}

@media print {
  #banner {
    display: none;
  }
}
