
html {
  font-size: 1em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media print {
  html {
    font-size: 0.75em;
  }
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-font);
}
