#breadcrumbs {
  .container {
    @neat-outer-container;
    padding: 0.5rem 1rem;

    span {
      color: var(--color-font-lighter);

      a {
        color: var(--color-font-lighter);

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    span:last-child {
      &::after {
        display: none;
      }
    }

    span::after {
      padding: 0 0.5rem;
      content: '|';
    }
  }
}

@media print {
  #breadcrumbs {
    display: none;
  }
}
