
#footer {
  background-color: var(--color-inverted-background);
  /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
  z-index: 1;
  color: var(--color-inverted-font);

  .container {
    @neat-outer-container;
    padding: 0 1rem;
  }

  .infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1rem;

    h1 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: var(--color-secondary-lighter);
    }

    p {
      margin: 0;

      span {
        span {
          padding-right: 0.5rem;
        }
      }

      .line {
        display: block;
      }
    }
  }

  .address,
  .contact,
  .hours {
    flex: initial;
    min-width: 15rem;
    padding-bottom: 1rem;
  }

  .hours {
    table {
      border-spacing: 0;
    }

    tr {
    }

    td {
      padding: 0;
    }

    td:nth-child(1),
    td:nth-child(4) {
      padding-right: 0.5rem;
    }
    td:nth-child(3),
    td:nth-child(6) {
      padding: 0 0.25rem;
    }
  }

  .map {
    display: block;
    width: 100%;
    height: 20rem;
  }

  a {
    color: var(--color-inverted-font);

    &:hover {
      color: var(--color-secondary-lighter);
    }
  }

}

#nav-footer {
  display: flex;
  justify-content: flex-end;

  a {
    display: block;
    padding: .5rem 0;
    padding-left: 0.5rem;
  }
}

/*@media screen and (width <= 50em) {
  #footer {
  }
}*/

@media screen and (width <= 40em) {
  #footer {
    .infos {
      display: block;
      width: 100%;
    }

    .address,
    .contact,
    .hours {
      text-align: center;
    }

    .hours {
      table {
        margin: auto;
        text-align: left;
      }
    }

    .map {
      height: 16rem;
    }

  }
}
