#header {
  position: relative;
  width: 100%;
  z-index: 1;
}

#logo {
  position: relative;
  height: 8rem;
  background: #fff url("/assets/img/logo.svg") no-repeat center top;
  z-index: 2;
}

#logo-text {
  display: none;
  position: absolute;
  margin: 0.5rem 1rem;
  font-style: italic;
  user-select: none;
}

#separator {
  position: relative;
  height: .5rem;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  z-index: 1;
}

#nav-dropdown {
  display: none;
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  background: #fff url("./img/bars.svg") no-repeat center;
  cursor: pointer;
}

#nav-language {
  display: inline;
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;

  a {
    display: inline;
    padding: 0 0.5em;
    color: #000;
    text-decoration: none;
    user-select: none;
  }

  a:hover {
    color: var(--color-primary);
  }

  a.active {
    color: var(--color-primary);
    font-weight: bold;
  }
}


#nav-top-wrapper {
  position: relative;
  background-color: #333;
  height: 2rem;
  z-index: 2;
}

#nav-top {
  @neat-outer-container;
  height: 2rem;
  /*background-color: #333;*/
  position: relative;
  z-index: 2;

  a {
    display: block;
    float: left;
    height: 1.5rem;
    padding: .25em 1em;
    margin: 0 0.5em;
    color: #f2f2f2;
    background-color: #333;
    text-decoration: none;
  }

  a:hover {
    background-color: #555;
  }

  a.active {
    background-color: var(--color-primary);
  }
}

@media (width <= 40em) {
  #header {
    position: fixed;
  }

  #logo {
    order: 1;
    height: 2.5rem;
    /*height: 4rem;*/
    /*margin-left: 1rem;*/
    background: #fff;
    /*background-size: contain;*/
    /*background-position: left;*/
  }

  #logo-text {
    display: block;
  }

  #separator {
    order: 2;
  }

  #nav-dropdown {
    display: block;
  }

  #nav-top-wrapper {
    height: auto;
  }

  #nav-top {
    display: block;
    position: relative;
    order: 3;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 0rem;
    transition: max-height 0.1 ease-in-out;

    &.visible {
      max-height: 40em;
      transition: max-height 0.1 ease-in-out;
    }

    a {
      /*position: relative;*/
      display: block;

      margin: 0;
      padding: .5em 0em;
      width: 100%;

      font-stretch: 1em;

      border-bottom: 1px solid #000;
      color: #fff;
      /*background-color: #333;*/
      text-align: center;
      /*padding: 14px 16px;*/
      text-decoration: none;
      /*transition: .3s;*/
    }

    a:hover {
      background-color: var(--color-primary);
    }

    a.active {
      background-color: var(--color-primary);
    }
  }
}
