#header {
  position: relative;
  width: 100%;
  z-index: 1;
}

#logo {
  position: relative;
  height: 8rem;
  background: #fff url("/assets/img/logo.svg") no-repeat center top;
  z-index: 2;
}

#logo-text {
  position: absolute;
  visibility: collapse;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  font-weight: bold;
  font-style: italic;
  user-select: none;
}

#separator {
  /*position: relative;*/
  height: .5rem;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  z-index: 1;
}

#nav-dropdown {
  display: none;
  /*visibility: collapse;*/
  /*display: block;*/
  float: right;
  /*order: 2;*/
  /*margin: 0;*/
  width: 2.5rem;
  height: 2.5rem;
  /*width: 0;*/
  /*height: 0;*/
  background: #fff url("./img/bars.svg") no-repeat center;
  cursor: pointer;
}

nav ul {
  /*display: block;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

nav li {
  user-select: none;
}

#nav-language {
  float: right;
  margin: 0.5rem 0.5rem;
  /*order: 1;*/
  /*align-self: flex-start;*/
  /*margin: .25rem;*/
}

#nav-language li {
  display: inline;
  padding: 0 0.5em;
}

#nav-language a {
  color: #000;
  text-decoration: none;
}

#nav-language a:hover {
  color: var(--color-primary);
}

#nav-language a.active {
  color: var(--color-primary);
  font-weight: bold;
}


#nav-top {
  /*display: block;*/
  height: 2rem;
  background-color: #333;

  /*height: 0;*/
  /*align-self: center;*/
  width: 100%;

  position: relative;
  z-index: 2;
}

#nav-top ul {
  @neat-outer-container;
  display: block;
  /*display: flex;*/
  /*justify-content: center;*/
  background-color: #333;
  height: 2em;
  /*transition-duration: .5s;*/
}

#nav-top li {
  float: left;
}

#nav-top li {
  padding: .25em .5em;
  /*height: .5em;*/
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  /*justify-content: flex-end;*/
  /*align-self: flex-end;*/
  /*flex: auto;*/
}

#nav-top a {
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*transition: .3s;*/
}

#nav-top a:hover {
  background-color: #555;
}

#nav-top a.active {
  background-color: var(--color-primary);
}


@media (width <= 40em) {
  #header {
    position: fixed;
  }

  #logo {
    order: 1;
    height: 2.5rem;
    background: #fff;
    /*background: red;*/
  }

  #logo-text {
    visibility: visible;
  }

  #separator {
    order: 2;
  }

  #nav-language {
    float: right;
  }

  #nav-dropdown {
    display: block;
  }

  #nav-top {
    position: relative;
    order: 3;
    width: 100%;
    height: 100%;

    max-height: 50rem;
    transition: max-height 1.5s ease-out;

    &.hidden {
      display: none;
      /*visibility: collapse;*/
      max-height: 0;
      transition: max-height 1.5s ease-out;
      height: 0;
    }
  }


  #nav-top ul {
    width: 100%;
    height: auto;

    /*visibility: collapse;*/
    /*height: 0;*/
  }

  #nav-top li {
    /*float: left;*/
    position: relative;
    display: block;

    padding: .5em 0em;
    width: 100%;

    border-bottom: 1px solid #fff;
  }

  #nav-top a {
    color: #f2f2f2;
    /*background-color: #333;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    text-decoration: none;
    /*transition: .3s;*/
  }

  #nav-top a:hover {
    background-color: var(--color-primary);
  }

  #nav-top a.active {
    background-color: #333;
  }
}


/*
@media (min-width: 560px) {
  #header {
    position: relative;
  }
  #logo {
    height: 8rem;
    background: #fff url("/assets/img/logo.svg") no-repeat center top;
  }
  #nav-dropdown {
    visibility: hidden;
    order: 1;
  }
  #nav-language {
    order: 2;
  }
  #nav-top {
    height: 2rem;
    display: block;
  }
  #nav-top ul {
    display: flex;
    opacity: 1;
  }
}
*/
