ul {
  list-style: disc outside;
  margin-left: 2rem;
}

ol {
  list-style: decimal outside;
  margin-left: 2rem;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 1.5rem ;
}

li {
  /*margin-bottom: 1rem;*/
}
