:root {
  --color-primary: #0071bc;
  --color-primary-darker: #00436f;
  --color-secondary: #bc6f00;
  --color-secondary-darker: #6f4200;

  --color-background: #fff;
  --color-foreground: #000;

  --color-background-1: #f0f0f0;
  --color-background-2: #e0e0e0;

  --color-link: var(--color-primary-darker);
}
