table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem 1rem;
  text-align: left;
  border-bottom: 1px solid #aaa;
}

th {
  border-top: 1px solid #aaa;
}
