/* Base Typo
 ------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 { font-size: 3.0rem; line-height: 1.2;  }
h2 { font-size: 2.5rem; line-height: 1.25; }
h3 { font-size: 2.0rem; line-height: 1.3;  }
h4 { font-size: 1.5rem; line-height: 1.35; }
h5 { font-size: 1.3rem; line-height: 1.5;  }
h6 { font-size: 1.1rem; line-height: 1.6;  }

@media screen and (width <= 50em) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2.1rem; }
  h3 { font-size: 1.7rem; }
  h4 { font-size: 1.3rem; }
  h5 { font-size: 1.2rem; }
  h6 { font-size: 1.1rem; }
}

@media screen and (width <= 40em) {
  h1 { font-size: 2.0rem; }
  h2 { font-size: 1.7rem; }
  h3 { font-size: 1.4rem; }
  h4 { font-size: 1.1rem; }
  h5 { font-size: 1.05rem; }
  h6 { font-size: 1.0rem; }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: var(--color-link);
  }
  &:hover,
  &:active {
    color: var(--color-link-hover);
  }
}
